body{
    margin:15px;
}
/*HEADER SECTION*/

.header {
    height: 95px;
    width: auto;
    border: solid 2px #000;
    background-color: rgba(0, 148, 255, 0.43);
}
#login_reg ul li {
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}
#test1 {
    
    max-height: 90px;
    max-width: 100%;
}

#syslogo {
    float: left;

}
/*NAV SECTION*/

#nav {
    background: black;
    height: 30px;
    width: auto;
    border: solid 2px #000;
    font-weight: bold;
}
#nav ul {
        text-align:center;
        padding: 5px;
        margin: 0 10px;
        border-radius: 5px;
        background-color: #000;
        list-style-type: none;
    }
#nav ul li {
            display: inline-block;
        }
#nav ul li a {
                text-decoration: none;
                color: white;
                font-family: Arial;
                padding: .2em 1em;
                background-color: #000;
}
.loginlogout {
    float: right;
  
}
/*SIDEBAR*/
.sidebar {
    float: left;
    width: 176px;
    height: auto;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.13);
    text-align: center;
}

.sidebar ul {
        display: block;
        text-align: center;
        padding: 15px;
        margin: 10px;
        list-style-type: none;
        text-decoration: none;
}
.sidebar ul li {
            display: block;
            margin-top: 15px;
            color: black;
}
.sidebar ul li a {
                margin-top: 15px;
                color: black;
                list-style-type: none;
                text-decoration: none;

}
#masterTable {
    background-image: url('IMGS/backgnds/bkgblu.jpg');
}

#box {
    position: absolute;
    right: 10px;
    top: 150px;
    background: rgba(0, 0, 0, 0.28);
    border: solid 1px #000;
    border-radius: 1em;
    padding: 10px;
    margin: 20px;
    color: black;
    font-size: 95%;
    text-decoration: none;
}