body {
    margin: 0px;
    /*background-image: url('IMGS/backgnds/Job-seeking-college-graduate-iStock.jpg');*/
}
/*HEADER SECTION*/

.header {

    height:95px;
    width:auto;
    border:solid 2px #000;
    background-color:rgba(0, 148, 255, 0.43);
}
#log_reg ul li {
    text-decoration:none;
    text-align:center;
    list-style-type: none;
}
#log_reg ul li a {
    text-decoration:none;
    list-style-type: none;
}

/*NAV SECTION*/

#nav {
    background:black;
    height:30px;
    width:auto;
    border:solid 2px #000;
    font-weight:bold;
}

#nav ul {
    
    text-align:left;
    padding:5px;
    margin:0 10px;
    border-radius:5px;
    background-color:#000;
    list-style-type: none;

}
#nav ul li {
        display: inline-block;
    }
#nav ul li a {
        text-decoration:none;
        color:white;
        font-family:Arial;
        padding: .2em 1em;
        background-color:#000;
}


/*SIDEBAR*/
.sidebar {
    float:left;
    width:176px;
    height:auto;
    border-radius:1em;
    background-color:rgba(0, 0, 0, 0.13);
    text-align:center;
}
.sidebar ul {
    display: block;
    text-align:center;
    padding:15px;
    margin:10px;
    
    list-style-type: none;
    text-decoration:none;

}
.sidebar ul li {
    display: block;
    margin-top:15px;
    color:black;
    

}
.sidebar ul li a {
    margin-top:15px;
    color:black;
    list-style-type: none;
    text-decoration:none;

}


.sidebarryt {
    float:right;
    width:176px;
    height:9500px;
    background:#9c9f84;
    border-left: solid 2px #000;
    border-bottom:solid 2px #000;
    border-bottom-left-radius:1em;
}
.subnav {

}
/*MAIN SECTION*/

/*.main {
    float:left;
    width:100%;
    height:100%;
    background:#e5e4d7;
    font-family:Arial;
    font-size:16px;
    overflow:auto;
    border-bottom-right-radius:1em;
}*/




/*MINI CONTENT SECTION*/

#box {
    position:absolute;
    right:10px;
    top:150px;
    background:rgba(0, 0, 0, 0.28);
    border: solid 1px #000;
    border-radius: 1em;
    padding:10px;
    margin:20px;
    color:black;
    font-size:95%;
    text-decoration:none;
}
#main_cont {
    align-content:flex-start;
}


.test {
    display:block;
    text-align:center;
}
#test1 {
    float:left;
    max-height:100%;
    max-width:100%;
}
#syslogo {
    
    max-height:100%;
    max-width:100%;
}
h4 {
    font-family:'Baskerville Old Face';
    font-size:large;
    color:whitesmoke;
    text-align:left;
    position:absolute;
    left:250px;
}

/*@media (max-width:600px) {
    .sidebar {
        display:none;
    }
    #test1 {
        float:left;
    }
}*/